<div id="app-header" class="app-header">

    <div class="header-wrapper">
        <div class="wrapper-left wrapper" style="text-align: center;">
            <p>全场购满200立减20 满500立减60</p>
        </div>
        <div class="wrapper-mid wrapper">
            <p>满88包邮 北美发货 24小时内发货 30天无忧售后 免费修改衣服</p>
        </div>
        <div class="wrapper-right wrapper">
            <ul>
                <li><a href="#">店铺地址</a></li>
                <li> | </li>
                <li><a href="#">我们</a></li>
                <li> | </li>
                <li><a routerLink='login'>登录</a></li>
            </ul>
        </div>
    </div>

    <div class="header-nav">
        <div class="header-nav-left nav">
            <div class="icon-class">
                <img src="https://static.thenounproject.com/png/210-200.png" routerLink='' height="40">
            </div>
        </div>
        <div class="header-nav-mid nav">
            <ul>
                <li>
                    <div class="dropdown">
                        <button class="dropbtn">新款上市</button>
                    </div>
                </li>
                <li>
                    <div class="dropdown">
                        <button class="dropbtn">推荐</button>
                    </div>
                </li>
                <li>
                    <div class="dropdown">
                        <button class="dropbtn" routerLink='item-list'>女士</button>
                        <div class="dropdown-content">
                            <div><a href="#">女士上衣</a></div>
                            <div><a href="#">女士长裤</a></div>
                            <div><a href="#">外套系列</a></div>
                            <div><a href="#">短裤/短裙</a></div>
                            <div><a href="#">连衣裙</a></div>
                            <div><a href="#">休闲搭配</a></div>
                            <div><a href="#">背心/内裤/袜子/内衣</a></div>
                            <div><a href="#">舒适睡衣</a></div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="dropdown">
                        <button class="dropbtn">男士</button>
                        <div class="dropdown-content">
                            <div><a href="#">男士上衣</a></div>
                            <div><a href="#">男士长裤</a></div>
                            <div><a href="#">外套系列</a></div>
                            <div><a href="#">短裤/沙滩裤</a></div>
                            <div><a href="#">衬衫/马甲</a></div>
                            <div><a href="#">休闲西装</a></div>
                            <div><a href="#">休闲搭配</a></div>
                            <div><a href="#">背心/内裤/袜子/保暖裤</a></div>
                            <div><a href="#">舒适睡衣</a></div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="dropdown">
                        <button class="dropbtn">饰品</button>
                        <div class="dropdown-content">
                            <div class="dropdown-content-container">
                                <div class="dropdonw-subcategory">
                                    <div class="dropdown-subcategory-title">男士</div>
                                    <div><a href="#">潮流男包</a></div>
                                    <div><a href="#">皮带</a></div>
                                    <div><a href="#">男士眼镜</a></div>
                                    <div><a href="#">耳环/手链/项链</a></div>
                                    <div><a href="#">帽子/围巾/手套</a></div>
                                    <div><a href="#">明星同款</a></div>
                                </div>
                                <div class="dropdonw-subcategory">
                                    <div class="dropdown-subcategory-title">女士</div>
                                    <div><a href="#">时尚女包</a></div>
                                    <div><a href="#">皮带</a></div>
                                    <div><a href="#">耳环/手链/项链</a></div>
                                    <div><a href="#">帽子/围巾/手套</a></div>
                                    <div><a href="#">明星同款</a></div>
                                </div>
                                <div class="dropdonw-subcategory">
                                    <div class="dropdown-subcategory-title">男女</div>
                                    <div><a href="#">钱包</a></div>
                                    <div><a href="#">情侣装</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="dropdown">
                        <button class="dropbtn">鞋子</button>
                        <div class="dropdown-content">
                            <div class="dropdown-content-container">
                                <div class="dropdonw-subcategory">
                                    <div class="dropdown-subcategory-title">男士</div>
                                    <div><a href="#">休闲运动</a></div>
                                    <div><a href="#">商务/休闲 皮鞋</a></div>
                                    <div><a href="#">高邦鞋/马丁靴</a></div>
                                    <div><a href="#">凉鞋/拖鞋</a></div>
                                </div>
                                <div class="dropdonw-subcategory">
                                    <div class="dropdown-subcategory-title">女士</div>
                                    <div><a href="#">休闲运动</a></div>
                                    <div><a href="#">商务/休闲 皮鞋</a></div>
                                    <div><a href="#">高邦鞋/马丁靴</a></div>
                                    <div><a href="#">凉鞋/拖鞋</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="dropdown">
                        <button class="dropbtn" style="color: skyblue;">活动专区</button>
                        <div class="dropdown-content">
                            <div><a href="#">特价专区</a></div>
                            <div><a href="#">砍价专区</a></div>
                            <div><a href="#" style="font-size: 18px; font-weight: 600;">五折专区</a></div>
                            <div><a href="#">免费赠品</a></div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="header-nav-right nav">
            <div class="pre-search-box">
                <input placeholder="搜索">
            </div>
            <div class="list-icons">
                <div class="icon-button">
                    <span class="material-icons">question_answer</span>
                    <div class="pop-up">
                        <p>对不起，此功能还在开发中</p>
                        <p>如有需要，请联系客服电话 000-000-0000</p>
                        <p>或关注微信公众号 MapleFashion</p>
                        <p>感谢您的谅解</p>
                    </div>
                </div>
                <div class="icon-button">
                    <span class="material-icons" routerLink='login'>account_circle</span>
                </div>
                <span class="material-icons icon-button">shopping_bag</span>
            </div>
        </div>
    </div>

</div>