<div class="item-list">
    <div class="item-list-content">
        <div class="item-list-nav">
            <a style="font-size: 14px;">女士 / 服装</a><br>
            <a style="font-size: 30px; font-weight: 600;">女士上衣</a>
            <a>[150]</a>
        </div>
        <div class="item-filter" id="item-filter">
            <div>
                <select>
                    <option>综合指标排序</option>
                    <option>销量排序</option>
                    <option>价格高到低排序</option>
                    <option>价格低到高排序</option>
                </select>
                <select>
                    <option>显示所有价格</option>
                    <option>$40以下</option>
                    <option>$40 - $70</option>
                    <option>$70 - $100</option>
                    <option>$100 - $130</option>
                    <option>$130以上</option>
                </select>
            </div>
        </div>
        <br><hr><br>
        <div class="item-list-items">
            <div class="item-card">
                <div class="item-card-img">
                    <img src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/66b4a7e6-915e-4009-8186-69e96d1478b8/sportswear-womens-short-sleeve-jersey-top-6KDKvQ.png">
                </div>
                <div class="item-card-description">
                    <div style="margin-top: 8px;">休闲上衣</div>
                    <div>$20</div>
                </div>
            </div>
            <div class="item-card">
                <div class="item-card-img">
                    <img src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/e8b41aae-f3d4-47ec-b7dd-3caed05a994e/essential-womens-running-tank-FT8ZSj.png">
                </div>
                <div class="item-card-description">
                    <div style="margin-top: 8px;">休闲上衣</div>
                    <div>$20</div>
                </div>
            </div>
            <div class="item-card">
                <div class="item-card-img">
                    <img src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/824f5aa2-e027-44c6-b822-82595a8b9782/yoga-luxe-womens-short-sleeve-top-dgHkXV.png">
                </div>
                <div class="item-card-description">
                    <div style="margin-top: 8px;">运动上衣</div>
                    <div >$20</div>
                    <br><br>
                </div>
            </div>
            <div class="item-card">
                <div class="item-card-img">
                    <img src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/66b4a7e6-915e-4009-8186-69e96d1478b8/sportswear-womens-short-sleeve-jersey-top-6KDKvQ.png">
                </div>
                <div class="item-card-description">
                    <div style="margin-top: 8px;">休闲上衣</div>
                    <div>$20</div>
                    <br>
                </div>
            </div>
            <div class="item-card">
                <div class="item-card-img">
                    <img src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/66b4a7e6-915e-4009-8186-69e96d1478b8/sportswear-womens-short-sleeve-jersey-top-6KDKvQ.png">
                </div>
                <div class="item-card-description">
                    <div style="margin-top: 8px;">休闲上衣</div>
                    <div>$20</div>
                    <br>
                </div>
            </div>
            <div class="item-card">
                <div class="item-card-img">
                    <img src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/66b4a7e6-915e-4009-8186-69e96d1478b8/sportswear-womens-short-sleeve-jersey-top-6KDKvQ.png">
                </div>
                <div class="item-card-description">
                    <div style="margin-top: 8px;">休闲上衣</div>
                    <div>$20</div>
                    <br>
                </div>
            </div>
            <div class="item-card">
                <div class="item-card-img">
                    <img src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/66b4a7e6-915e-4009-8186-69e96d1478b8/sportswear-womens-short-sleeve-jersey-top-6KDKvQ.png">
                </div>
                <div class="item-card-description">
                    <div style="margin-top: 8px;">休闲上衣</div>
                    <div>$20</div>
                    <br>
                </div>
            </div>
            <div class="item-card">
                <div class="item-card-img">
                    <img src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/66b4a7e6-915e-4009-8186-69e96d1478b8/sportswear-womens-short-sleeve-jersey-top-6KDKvQ.png">
                </div>
                <div class="item-card-description">
                    <div style="margin-top: 8px;">休闲上衣</div>
                    <div>$20</div>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>

<br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br>