<div class="app-home" >
    <div class="home-layer-1">
        <div class="layer-1-content">
            <h1>枫叶林</h1>
            <br>
            <h4>时尚简约 休闲搭配</h4>
            <hr>
            <p>寻找最适合你的</p>
        </div>
        <img src="https://images.puma.com/image/upload/q_auto,f_auto,w_1440/regional/~regional~PNA~others~KOP~Home~SS21~Dua+Lipa+-+Mayze~21_SS_APRIL+HP+4_15_SITE_FullBleedHero_Desktop_1440x500_1.jpg/fmt/jpg/fmt/png">
    </div>
    <br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br>
</div>